*{
    box-sizing: border-box;
}

body{
     background-color: blueviolet;

}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 1px;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 5px;
}
.navbar a{
    padding-right: 5px;
}
.h{
    background-color: orchid;
}
.h b{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c{
    background-color: mediumpurple;
    color: brown;
}
.a{
    font-style: italic;
    background-color: antiquewhite;
}
.a h1{
color: firebrick;
    display: flex;
    justify-content: center;
    align-items: center;

}
.heading{
    color:brown;

}
.a  p{
color: mediumpurple;
}
.heading{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 30px;
    margin-right: 100px;
}
.pc{
    justify-content: right;
    width:40px;
    height:30px;
    border-radius: 50%;
    cursor: pointer;

}
.sub-menu {
position: absolute;
top: 100%;
right: 2%;
width: 350px;
max-height: 0px;
overflow: hidden;
transition: max-height 0.5s;
}
.sub-menu.open{
    max-height: 400px;
}
.list{
    background: #ffff;
    padding: 10px;
    height:1000px;
}
.info
{
    display: flex;
    align-items: center;
}
.info h4{
    font-weight: 500;
}
.info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.list hr{
    height: 2px;
    width: 100%;
    background: #999;
    margin: 15px 0 15px;
}
.link{
    display: flex;
    align-items: center;
    color: midnightblue;
    margin: 12px 0;
}
.link p{
    width: 100%;
}
.link span{
    font-size: 25px;
    transition: transform 0.5s;
}
.link:hover span{
transform: translateX(5px);
}
.link:hover p{
    font-weight: 500;
}