*{
    box-sizing: border-box;
}

body{
     background-color: blueviolet;

}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 1px;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 5px;
}
.navbar a{
    padding-right: 5px;
}
.h{
    background-color: orchid;
}
.h b{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c{
    background-color: mediumpurple;
    color: brown;
}
.a{
    font-style: italic;
    background-color: antiquewhite;
}
.a h1{
color: firebrick;
    display: flex;
    justify-content: center;
    align-items: center;

}
.a  p{
color: mediumpurple;
}